.main {
    height: 900px;
    background-color: #252B42;
}

.div1 {
    height: 91px;
    position: relative;

}

.div2 {
    position: absolute;
    top: 9px;
    left: 136px;
    color: #ffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hed1 {
    position: relative;
}

.div3 {
    width: 23%;
    position: relative;
    top: 34px;
    left: 350px;
}

.button1 {
    color: #ffff;
    background-color: #252B42;
    border: none;
    margin-left: 3px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}

.button1:hover {
    color: #ffff;
    background-color: #23A6F0;
    transition: 0.5s;
}

.button2 {
    position: relative;
    left: 980px;
    top: 1px;
    border: none;
    background-color: #252B42;
    color: #ffff;
}

.button2a {
    position: relative;
    left: 1000px;
    top: 1px;
    background-color: #23A6F0;
    color: #ffff;
    width: 10%;
    height: 50px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.button2:hover {
    background-color: #23A6F0;
    border-radius: 10px;
    transition: 0.5s;
}

.div5 {
    color: #ffff;
    position: absolute;
    top: 100px;
    left: 29%;
    width: 30%;
    text-align: center;
    padding: 5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.para1 {
    color: #23A6F0;
}

.button3 {
    position: relative;
    top: 365%;
    left: 39%;
    width: 10%;
    height: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
    background-color: #23A6F0;
    color: white;
}


.div6 {
    border: 1px solid white;
    width: 328px;
    height: 292px;
    background-color: #ffff;
    position: relative;
    top: 420px;
    left: 10%;
}

.div7 {
    border: 1px solid #FFDCD1;
    position: relative;
    top: 20px;
    left: 20px;
    text-align: center;
    background-color: #FFDCD1;
    border-radius: 10px;
    width: 70px;
    height: 76px;
}

.fa-face-smile-wink {
    color: #E74040;
    position: relative;
    font-size: 30px;
    top: 22px;
}

.para2 {
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 19px;
    margin-top: 20px;
}

.para3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
    font-weight: bold;
    color: #E74040;
}

.para4 {
    color: #737373;
    margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div8 {
    border: 1px solid white;
    width: 328px;
    height: 292px;
    background-color: #ffff;
    position: relative;
    top: 123px;
    left: 38%;
    display: inline-block;
}

.div9 {
    border: 1px solid #FFDCD1;
    position: relative;
    top: 20px;
    left: 20px;
    text-align: center;
    background-color: #B9EAA8;
    border-radius: 10px;
    width: 70px;
    height: 76px;
}

.div10 {
    border: 1px solid #252B42;
    width: 328px;
    height: 292px;
    background-color: #23A6F0;
    position: relative;
    top: 127px;
    left: 40%;
    display: inline-block;
    color: #ffff;
}

.div11 {
    border: 1px solid #FFDCD1;
    position: relative;
    top: 20px;
    left: 20px;
    text-align: center;
    background-color: #ffff;
    border-radius: 10px;
    width: 70px;
    height: 76px;
}

.para4a {
    color: #ffff;
    margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fa-wallet {
    color: #23A6F0;
    position: relative;
    font-size: 30px;
    top: 22px;
}

.fa-check-double {
    color: #2DC071;
    position: relative;
    font-size: 30px;
    top: 22px;
}

.main1 {
    height: 515px;
    width: 1246px;
    background-color: #ffff;
    position: absolute;
    top: 809px;
    position: relative;
}

.div12 {
    position: relative;
    top: 10%;
    left: 20%;
    width: 400px;
    height: 250px;
    background-color: #ffff;
    display: inline-block;
}

.div13 {
    width: 94px;
    height: 7px;
    background-color: #E74040;
    position: relative;
}

.hed2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.para5 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #737373;
}

.button4 {
    border: none;
    color: #23A6F0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    font-weight: bold;

}

.fa-greater-than {
    margin-left: 10px;
}

.img1 {
    width: 100%;
}

.div14 {
    width: 30%;
    height: 42%;
    display: inline-block;
    position: relative;
    top: 14%;
    left: 20%;
}

.main2 {
    width: 1247px;
    height: 980px;
    background-color: #ffff;
    position: relative;
    top: 793px;
}

.div15 {
    background-color: #ffff;
    width: 950px;
    height: 96%;
    position: relative;
    left: 15%;
}

.para6 {
    margin-top: 10%;
    color: #23A6F0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.hed3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.para7 {
    color: #737373;
}

.div17 {
    display: inline-block;
    width: 210px;
    height: 710px;
    margin-right: 15px;
    position: relative;
    top: 70px;
}

.div18 {
    width: 210px;
    height: 610px;
    display: inline-block;
    margin-right: 15px;
    position: relative;
    top: 70px;
}

.img2 {
    width: 210px;
    height: 250px;
}

.img3 {
    width: 210px;
    height: 250px;
}

.div19 {
    width: 210px;
    height: 610px;
    display: inline-block;
    margin-right: 15px;
    position: relative;
    top: 70px;
}

.img4 {
    width: 210px;
    height: 250px;
}

.div20 {
    width: 210px;
    height: 610px;
    display: inline-block;
    margin-right: 15px;
    position: relative;
    top: 70px;

}

.img5 {
    width: 210px;
    height: 250px;
}

.div21 {
    position: relative;
    display: inline-block;
    left: 15px;
    color: #737373;
    font-weight: bold;
    width: 50%;
}

.para8 {
    display: inline-block;
    color: #23A6F0;
    margin-left: 15px;
}

.div22 {
    border-radius: 10px;
    background: black;
    color: white;
    width: 50px;
    height: 20px;
    display: inline-block;
    margin-left: 70px;
}

.fa-star {
    margin-left: 6px;
    margin-top: 1px;
}

.para9 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 15px;
}

.para10 {
    color: #737373;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 15px;
}

.para11 {
    display: inline-block;
    position: relative;
    left: 5px;
}

.para12 {
    display: inline-block;
    color: #BDBDBD;
    font-weight: bold;
}

.para13 {
    display: inline-block;
    color: #40BB15;
    font-weight: bold;
}

.para14 {
    display: inline-block;
}

.para15 {
    display: inline-block;
}

.para16 {
    display: inline-block;
}

.fa-clock {
    color: #23A6F0;
}

.fa-hot-tub-person {
    color: #E77C40;
}

.button5 {
    color: #23A6F0;
    border-color: #23A6F0;
    border-radius: 30px;
    width: 120px;
    height: 44px;
    background-color: white;
    margin-left: 15px;
    font-weight: bold;
}

.div24 {
    margin-left: 15px;
    width: 91%;
}

.div23 {
    margin-left: 15px;
}

.main3 {
    width: 1, 050px;
    height: 600px;
    color: black;
    position: relative;
    top: 800px;
}

.div26 {
    width: 60%;
    height: 516px;
    position: relative;
    top: 10%;
    left: 20%;
}

.para17 {
    color: #23A6F0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.hed4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.para18 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #737373;
}

.div27 {
    width: 40%;
    height: 30%;
    position: relative;
}

.div28 {
    width: 120px;
    height: 120px;
    position: relative;
    left: 28%;
    border-radius: 80px;
}

.img6 {
    width: 100%;
    height: 100%;
    border-radius: 65px;
}

.para19 {
    text-align: center;
    margin-top: 8%;
    color: #737373;
}

.para22 {
    text-align: center;
    margin-top: 8%;
    color: #737373;
}

.para20 {
    position: relative;
    left: 35%;
}

.para23 {
    position: relative;
    left: 35%;
}

.hed5 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.hed6 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.para21 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #737373;
}

.para24 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #737373;
}

.div29 {
    width: 40%;
    height: 30%;
    position: relative;
}

.div30 {
    width: 120px;
    height: 120px;
    background-color: #2DC071;
    position: relative;
    left: 28%;
    border-radius: 90px;
}

.div31 {
    width: 110%;
    display: flex;
    gap: 20%;
    width: 100%;
}

.main4 {
    width: 99%;
    height: 397px;
    position: relative;
    top: 900px;
}

.para25 {
    color: #23A6F0;
    font-weight: bold;
    position: relative;
    top: 3%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hed7 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    top: 2%;
    text-align: center;
}

.para26 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #737373;
    text-align: center;
    position: relative;
    top: 2%;
}

.div25 {
    width: 35%;
    height: 40px;
    position: relative;
    top: 10%;
    left: 30%;
    border: none;
    background-color: #E6E6E6;
    outline-color: #E6E6E6;
}

.button6 {
    width: 90px;
    height: 43px;
    position: relative;
    top: 10%;
    left: 29%;
    border-color: #23A6F0;
    background-color: #23A6F0;
    color: white;
    border: none;
}

.main5 {
    width: 100%;
    border: 1px solid black;
    height: 305px;
    background-color: #252B42;
    position: relative;
    top: 100%;
    color: #ffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
    margin-top: 10px;
    font-size: 30px;
    margin-right: 25px;
}

.div32 {
    width: 17%;
    height: 54%;
    position: relative;
    top: 15%;
    left: 10%;
}

.hed8,
.hed9,
.hed10,
.hed11 {
    margin-top: 0px;
}

.div33 {
    width: 17%;
    height: 24%;
    position: absolute;
    left: 30%;
    top: 15%;
}

.div34 {
    width: 17%;
    height: 24%;
    position: absolute;
    left: 50%;
    top: 15%;
}

.div35 {
    width: 17%;
    height: 24%;
    position: absolute;
    left: 70%;
    top: 15%;
}

.div36 {
    border: 1px solid black;
    background-color: #ffff;
    width: 100%;
    height: 70px;
    position: relative;
    top: 100%;
}

.hed12 {
    text-align: center;
    color: #737373;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}